In [1]:
# -*- coding: utf-8 -*-
import pandas as pd

In [3]:
csv = pd.read_csv("./data.csv")
csv

  class  grade       name
0     A      1      Satou
1     B      1  Hashimoto
2     B      3  Takahashi
3     A      2     Aikawa

### 列の削除

In [5]:
print(csv.drop("class", axis=1))

   grade       name
0      1      Satou
1      1  Hashimoto
2      3  Takahashi
3      2     Aikawa