In [1]:
# -*- coding: utf-8 -*-

import csv
import pandas as pd
import numpy as np
from scipy import stats

update csv data in every 5 min.

In [2]:
filename = "./../../task/app_1/cov_system/src/data/download/sample_5000_1.csv"
df = pd.read_csv(filename, index_col=0)

f_sex = lambda x: 0 if x == '男' else 1
df['性別'] = df['性別'].map(f_sex)
df.head()

       氏名  氏名（カタカナ）  性別        生年月日
連番
1   丸田 光代   マルタ ミツヨ   0  1977/01/04
2   加瀬 和佳     カセ ワカ   1  1977/10/29
3   和泉 和臣  イズミ カズオミ   0  1965/02/06
4   前田 綾音   マエダ アヤネ   1  1964/02/05
5   三井 寧々    ミツイ ネネ   1  1945/11/25

In [3]:
# 材料 0:鼻腔, 1:唾液
matList = np.random.choice([0, 1], size=len(df), p=[0.4, 0.6])
df['材料'] = matList
expireList = np.random.choice([0, 1, 2], size=len(df), p=[0.3, 0.4, 0.3])
df['報告期限'] = expireList

In [9]:
hp_dir = "./../../task/app_1/cov_system/src/data/hp_names.csv"
hp_df = pd.read_csv(hp_dir)
hp_df.rename(columns={'Unnamed: 0':'name'}, inplace=True)
hp_df.iloc[0]

'K'

In [5]:
l = 4
sc = 2.45
X = np.arange(start=1, stop=80, step=1)
norm = stats.norm.pdf(x=X, loc=l, scale=sc)
c = 1 - sum(norm)
hpNumP = list(norm)
hpNumP.insert(0, c)
# print(hpNumP)
hpList = np.random.choice(list(range(1, 81)), size=len(df), p=hpNumP)
print(hpList[:100])

[ 1  3  7  5  6  2  8  4  3  6  4  6  4  6  7  7  5  8  1  3  6  6  1  3
  4  6  7  6  6  4  6  3  4  1  3  4  2  4  6  2  1  4  5  2  1  8  6  4
  8  2  5  7  1  8  8  7 10  5  2  1  5  5  4  6  4  5  7  5  3  4  5  6
  7  7  1  2  3  5  5  7  8  3  7  6  1 12  4  6  8  6  5  2  4  1  5  7
  2  9  8  7]

In [12]:
hp_names = []
office_list = []

arr = list(range(0, 205))
def reset_j(j, i, f):
    if j == 205: f = False
    j = np.random.choice(arr, size=1, p=[1/len(arr)]*len(arr))[0]
    return j, f

s = 0
j = 0
f = True
for i in hpList:
    if s+i > len(df): break
    s += i
#     if j > 200: print(j, f)
    if j > len(hp_df)-1 or f is False:
        j, f = reset_j(j, i, f) 
    hp = [hp_df.iloc[j]['name']] * i
    office = [hp_df.iloc[j]['district']] * i
    hp_names.extend(hp)
    office_list.extend(office)
    j += 1

s2 = 5000 - len(hp_names)
j = np.random.choice(arr, size=1, p=[1/len(arr)]*len(arr))[0]
hp = [hp_df.iloc[j]['name']] * (s2)
hp_names.extend(hp)
office = [hp_df.iloc[j]['district']] * (s2)
office_list.extend(office)
# print(len(hp_names))
df['病院名'] = hp_names
df["営業所"] = office_list

In [13]:
df

          氏名   氏名（カタカナ）  性別        生年月日  材料  報告期限           病院名 営業所
連番
1      丸田 光代    マルタ ミツヨ   0  1977/01/04   1     1  yea hospital   K
2      加瀬 和佳      カセ ワカ   1  1977/10/29   1     1   iguv Clinic   V
3      和泉 和臣   イズミ カズオミ   0  1965/02/06   0     1   iguv Clinic   V
4      前田 綾音    マエダ アヤネ   1  1964/02/05   0     1   iguv Clinic   V
5      三井 寧々     ミツイ ネネ   1  1945/11/25   1     2   vqaf clinic   Y
...      ...        ...  ..         ...  ..   ...           ...  ..
4996   井上 正巳   イノウエ マサミ   1  1978/04/28   1     0  niwju Clinic   W
4997   並木 豊明   ナミキ トヨアキ   0  1928/03/02   1     2  niwju Clinic   W
4998     乾 潤    イヌイ ジュン   0  1927/02/04   0     0  niwju Clinic   W
4999   安斎 芳人  アンザイ ヨシヒト   0  1978/07/20   1     1  niwju Clinic   W
5000  川名 徳次郎  カワナ トクジロウ   0  1934/07/08   0     1  niwju Clinic   W

[5000 rows x 8 columns]

In [31]:
office = {
    'Y': 45001,
    'W': 48001,
    'V': 85001,
    'S': 47501,
    'L': 48001,
    'B': 57001,
    'R': 71001,
    'K': 46501
}

In [32]:
id = []

for o in office_list:
    id.append(office[o])
    office[o] += 1

In [33]:
df['id'] = id
# df = df.set_index('id')

In [34]:
outputdir = "./../../task/app_1/cov_system/src/data/d_sample.csv"
df.to_csv(outputdir, index='id')